.button {
    width: 100%;
    min-height: 50px;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    transition: all 0.4s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 4px rgba(0,0,0, 0.3);
        transform: scale(1.01);
    }
    &--primary {
        background-color: $PRIMARY-COLOR;
        color: $TEXT-COLOR;
        &--outline {
            background-color: transparent;
            border: 2px solid $PRIMARY-COLOR;
            font-weight: 700;
            color: $PRIMARY-COLOR;
        }
    }
}