@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    $TEXT-COLOR : rgba(28, 39, 76, 1);
    $PRIMARY-COLOR : rgba(255, 204, 0, 1);
* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
  
.wrapper {
    min-height: 100vh;
    background-image: url(/assets/HD-wallpaper-town-8-bit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        backdrop-filter: blur(10px);
        background-color: rgb(0, 0, 0, 0.6);
    }
}
.page {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    div {
        width: 100%;
    }
}
.text-muted {
    color: #808080;
    a {
        color: $TEXT-COLOR ;
        cursor: pointer;
        text-decoration: underline;
        font-weight: 700;
    }
}
.error {
    color: #c0392b;
    font-weight: 700;
    font-size: 14px;
}
@for $i from 1 through 10 {
    .mt-#{$i} {
      margin-top: #{$i}rem;
    }
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $TEXT-COLOR;
    font-weight: 700;
}
p {
    margin: 0;
}
label {
    color: $TEXT-COLOR;
    display: inline-block;
    margin-bottom: 5px;
}

